fastapi==0.115.12
uvicorn==0.34.0
python-multipart==0.0.20
pydantic==2.11.1
pydantic[email]==2.11.1
aiosqlite==0.21.0
aiofiles==24.1.0
python-dotenv==1.1.0
jinja2==3.1.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic-settings==2.2.1